@import url("https://fonts.googleapis.com/css?family=Marck Script:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Kulim Park:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Alfa Slab One:100,300,400,500,700,900");


body {
	font-family: "Railway", sans-serif;
	font-size: 1.2em;
  color: #707070;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #74ebd5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tm-text-primary{
  padding-top: 40px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Kulim Park";
    
}

@media (min-width: 200px) {
  .tm-intro-text-container {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color: black;
    
    
    /*background-image: url(../img/newsplash.gif);
    border: 10px solid #ff0054;*/
    
   
  }

  .tm-content-box2 {  
    padding-top: 100px;
    padding-bottom: 60px;
    
   
  }

  .tm-content-box3 {  
    
    position: center;
    padding-bottom: 60px;
    margin-left: 200px;
    margin-right: 200px;
  }

  * {
    box-sizing: border-box;
  }
/* Sidebar Menu */

.menu .image {
  margin-top: 50px;
}

.menu .image img {
  width: 160px;
  height: 160px;
  border-radius: 10%;
  text-align: center;
}

.menu .author-content {
  margin: 20px 0px 40px 0px;
}

.menu .author-content h4 {
  margin-bottom: 0px;
text-transform: uppercase;
}

.menu .author-content span {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.menu .social-network {
  margin-top: 60px;
}

.menu .social-network ul li {
  margin: 0 3px;
}

.menu .social-network ul li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  transition: all 0.5s;
}

.menu .social-network ul li a:hover {
  background-color: #fff;
  color: #2279BD;
}

.menu .copyright-text {
  position: relative;
  margin-top: 60px;
}

.menu .copyright-text p {
  border-top: 1px solid rgba(250, 250, 250, 0.1);
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 13px;
}

.menu:before,
.menu:after {
  content: "";
  display: table;
}

.menu:after {
  clear: both;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu {
  text-align: center;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu {
  left: 8%;
-webkit-overflow-scrolling: touch;
background-color: #2279BD;
box-sizing: border-box;
height: 100vh;  
max-height: 100vh !important;
max-width: 80vw !important;
min-width: 45px !important;
outline: none;
overflow-x: hidden !important;
overflow-y: auto !important;
padding: 0;
position: fixed !important;
top: calc(0px);  
width: 22%;
will-change: transform;
z-index: 9999 !important;
}

.menu-toggle {
color: #fff;
cursor: pointer;
font-size: 25px;
position: fixed;
right: 25px;
top: 25px;
}

#menu-toggle {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  color: #2279BD;
  background-color: #fff;
  width: 66px;
  height: 66px;
line-height: 66px;
  text-align: center;
  display: inline-block;
font-size: 1.3em;
}

.menu-close {
cursor: pointer;
}

#menu-close {
  cursor: pointer;
  text-align: right;
  color: #2279BD;
  background-color: #fff;
  width: 100%;
  height: 66px;
  text-align: center;
  display: inline-block;
  line-height: 66px;
font-size: 1.3em;
}

/* Hero */

#Home {
	
  min-height: 50px;
  max-height: 50px;
  position: relative;
  min-height: 375px;
  width: 100%;
  
}


@media (min-height: 1920px) and (min-width: 1920px) {
  #Home {
    background-size: cover;
  
  }
}






@media (min-width: 200px) {
  
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
    
   
    
  }

  
}


@media (max-width: 767px) {

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: lightgray;
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: black;
	padding-right: 20px;
  }
}

/* slideshow*/

.mySlides {
  display: none;
  
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;

  margin-right: 200px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#page-flip {
  width: 80%;
  display: inline-block;
  position: relative;
}

#page-flip:after {
  padding-top: 90%;
  display: block;
  content: '';
}

.pages-container {
  position: absolute;
  width: 100%;
  height: 100%;
  
 
  
}

.page-left, .page-right {
  position: absolute;
  width: 50%;
  height: 86%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-left {
  background-position: left center;
  border-top-right-radius: 1%;
  left: 0%;
}

.page-right {
  background-position: right center;
  border-top-left-radius: 1%;
  right: 0%;
}

.page-left .page-middle, .page-right .page-middle {
  width: 4%;
  height: 100%;
}

.page-left .page-middle {
  float: right;
  background: linear-gradient(to left,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
  border-top-right-radius: 10%;
}

.page-right .page-middle {
  float: left;
  background: linear-gradient(to right,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  border-top-left-radius: 10%;
}

.page-left .page-grabber, .page-right .page-grabber {
  width: 95%;
  height: 100%;
  cursor: pointer;
}

.page-left .page-grabber {
  float: left;
}

.page-right .page-grabber {
  float: right;
}

.page-left .page-grabber .page-fold, .page-right .page-grabber .page-fold {
  position: absolute;
  width: 0%;
  height: 0%;
  transition: width 0.5s, height 0.5s;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
}

.disable-click {
  position: absolute;
  width: 50%;
  height: 86%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.disable-click .page-middle {
  display: none;
}

.disable-click .page-grabber {
  cursor: default;
}

.disable-click .page-fold {
  width: 0% !important;
  height: 0% !important;
}

.reduce-to-left, .reduce-to-right {
  z-index: 0;
  width: 0%;
}

.reduce-to-left {
  left: 50%;
  background-position: right center !important;
  transition: width 0.5s linear, left 0.5s linear;
}

.reduce-to-right {
  right: 50%;
  background-position: left center !important;
  transition: width 0.5s linear, right 0.5s linear;
}

.page-left .page-fold {
  left: 0;
  border-right-width: 1px;
  border-right-color: #dddddd;
  border-right-style: solid;
  box-shadow: 5px 5px 10px #dddddd;
  background-image: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(242, 242, 242) 51%, rgb(254, 254, 254) 100%);
}

.page-right .page-fold {
  right: 0;
  border-left-width: 1px;
  border-left-color: #dddddd;
  border-left-style: solid;
  box-shadow: -5px 5px 10px #dddddd;
  background-image: linear-gradient(45deg, rgb(254, 254, 254) 0%, rgb(242, 242, 242) 49%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
}

.page-grabber:hover .page-fold {
  width: 4%;
  height: 2.8%;
}

.hide-page-fold {
  width: 0% !important;
  height: 0% !important;
}

.next-page, .prev-page {
  position: absolute;
  height: 86%;
  width: 0%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.next-page {
  right: 0%;
  background-position: left center;
}

.prev-page {
  left: 0%;
  background-position: right center;
}

.turning-next-page, .turning-prev-page  {
  width: 50%;
  z-index: 1;
}

.turning-next-page {
  right: 50%;
  -webkit-box-shadow: -5px 1px 18px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 1px 18px -2px rgba(0,0,0,0.5);
  box-shadow: -5px 1px 18px -2px rgba(0,0,0,0.5);

  transition: width 0.5s linear, right 0.5s linear;
}

.turning-prev-page {
  left: 50%;
  -webkit-box-shadow: -5px -2px 18px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px -2px 18px 1px rgba(0,0,0,0.5);
  box-shadow: -5px -2px 18px 1px rgba(0,0,0,0.5);

  transition: width 0.5s linear, left 0.5s linear;
}

.right-brightness, .left-brightness {
  z-index: 2;
}

.right-brightness {
  right: 0%;
  background: linear-gradient(to right,  rgba(128,128,128,0) 0%,rgba(128,128,128,0.65) 100%);
}

.left-brightness {
  left: 0%;
  background: linear-gradient(to left,  rgba(128,128,128,0) 0%,rgba(128,128,128,0.65) 100%);
}

.turning-left, .turning-right {
  position: absolute;
  height: 86%;
  width: 0%;
  z-index: 2;
}

.turning-left {
  right: 50%;
  transition: right 0.5s linear;
}

.turning-right {
  left: 50%;
  transition: left 0.5s linear;
}

.hidden-left-page, .hidden-right-page {
  z-index: 1;
  position: absolute;
  width: 0%;
  height: 86%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden-left-page {
  left: 0%;
  background-position: left center;
}

.hidden-right-page {
  right: 0%;
  background-position: right center;
}

.show-hidden-left-page, .show-hidden-right-page {
  width: 49.5%;
  transition: width 0.5s linear;
}

.page-flip-loader {
  width: 40px;
  height: 40px;
  background-color: #333;
  display: block;
  margin: 0 auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  background: #4a3753;
  max-width: 220px;
}

figure.effect-honey img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.4;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #38C;
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tm-container-gallery {
	padding-top: 30px;
  }
  
/* Contact */


div.elem-group {
  margin: 40px 0;
}

label {
  display: block;
  font-family: 'Aleo';
  padding-bottom: 4px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Aleo';
  width: 500px;
  padding: 8px;
}

textarea {
  height: 250px;
}

button {
  height: 50px;
  background: green;
  color: white;
  border: 2px solid darkgreen;
  font-size: 1.25em;
  font-family: 'Aleo';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

}